:root {
  --width-main: 1200px;
  --color-main: #d83993;
  --color-gray: #808080;
  --color-light-gray: #a0a0a0;

  --font-size-title: 28px;
  --font-size-large: 20px;
  --font-size-medium: 18px;
  --font-size-small: 13px;

  --play-bar-height: 90px;
  --nav-bar-height: 80px;
}



body {
  overflow: hidden;
  color: #333333;
}

pre {
  white-space: pre-wrap;
  line-height: 2;
}

/* * 取消number类型时右侧的箭头 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* * element ui 样式覆盖 */

.el-slider__button {
  height: 8px !important;
  width: 8px !important;
}


.el-divider--horizontal {
  /* 重置height为1的分割线，它会造成高度显示不当 */
  height: 0.5px !important;
}

.el-notification__group {
  /* 消息框内容对齐 */
  padding-top: 2px;
}

.el-link {
  color: #527fb0 !important;
  vertical-align: initial;
}

.el-link:hover {
  color: #7c83fd !important;
}

/* 外部图标js使用的通用样式 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 详情页的上方背景 */
.backdrop {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 300px;
}



/* 页面侧边滚栏 */
.vb>.vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
  min-height: 10px;
}

.vb>.vb-dragger>.vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(190, 118, 159, 0.3);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom>.vb-dragger>.vb-dragger-styler {
  /* 滚动时样式 */
  background-color: rgba(190, 118, 159, .3);
}

.vb>.vb-dragger:hover>.vb-dragger-styler {
  background-color: rgba(216, 57, 147, .5);
  /* margin: 0px; */
  /* 设置为0的话将会放大滚动条 */
  height: 100%;
}

.vb.vb-dragging>.vb-dragger>.vb-dragger-styler {
  background-color: rgba(216, 57, 147, .5);
  /* margin: 0px; */
  height: 100%;
}

.vb.vb-dragging-phantom>.vb-dragger>.vb-dragger-styler {
  background-color: rgba(216, 57, 147, .5);
}

.vb-content {
  /*  可以使滚动更流畅 */
  backface-visibility: hidden;
}

/* * 通用样式区 */
.image-err {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #f5f7fa;
  color: #909399;
}

.before-fill {
  position: relative;
}

.infuse-image {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}